<div class="section">
  <%= form_with url: new_booking_path, method: :get do |form| %>
    <%= hidden_field_tag "passengers", @search_criteria[:passengers] %>
    <h2 class="title is-2">Available Flights</h2>
    <% @search_results.each do |flight| %>
      <div class="control">
        <div class="media">
          <div class="media-left"><%= form.radio_button "flight", flight.id, class: "radio" %></div>
          <div class="media-content"><%= form.label "flight_#{flight.id}", format_flight(flight), class: "radio" %></div>
        </div>
      </div>
      <br>
    <% end %>

    <div class="control has-text-centered">
      <%= form.submit "Book flight", class: "button" %>
    </div>
  <% end %>

</div>
