<h2 class="title is-2">Book your flight</h2>

<% if @booking.errors.any? %>
  <div class="errors">
    <p class="title is-4">Please correct the following errors:</p>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "flight_details",
            locals: { flight: @flight_info, travel_date: @travel_date } %>

<h3 class="title is-3">Passenger Information</h3>
<%= form_with model: @booking do |form| %>
  <%= form.hidden_field(:flight_id, value: @flight_info[:id]) %>
  <%= form.hidden_field(:travel_date, value: @travel_date) %>

  <%= form.fields_for :passengers do |passenger_field| %>
      <div class="level">
        <div class="level-item">
          <div class="field">
            <%= passenger_field.label :name, "Passenger #{passenger_field.index + 1} name", class: "label ml-2" %>
            <%= passenger_field.text_field :name, required: true, class: "input ml-2" %>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <%= passenger_field.label :email, "Passenger #{passenger_field.index + 1} email", class: "label ml-4" %>
            <%= passenger_field.text_field :email, required: true, class: "input ml-4" %>
          </div>

        </div>
      </div>

  <% end %>

  <div class="control">
    <%= form.submit class: "button" %>
  </div>

  <div class="mt-4" >
    <%= link_to "Cancel", root_path %>
  </div>

<% end %>




