<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="hero has-background-info-light is-fullheight background">
      <div class="hero-body">
        <div class="container">

          <div class="columns is-centered">
            <div class="column is-two-thirds-desktop frosted-glass">

          <%= yield %>


            </div>
          </div>


        </div>

      </div>
    </div>


  </body>
</html>
